.data_count_section {
  max-width: 1600px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 80px 153px;
  background: #e5eef5;
  justify-content: space-between;
  margin-top: 170px;
}
.data_digit {
  font-size: 72px;
  font-weight: 500;
  line-height: 80px;
  color: var(--font-btn-color);
}
.data_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--font-btn-color);
  font-family: var(--regular-font);
  opacity: 60%;
}
